.lists-container {
  height: 100%;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.list-card {
  font-size: large;
  padding: 20px;
}

.list-container {
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.film-card {
  width: 800px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
}
